<div class="SignupSuperSizer"></div>
<div class="container">
    <!-- Content here -->
    <nav class="navbar navbar-expand-lg navbar-light bg-dark fixed-top">
        <!-- <a class="navbar-brand" href="#">Navbar</a> -->
        <button class="navbar-toggler btn btn-outline-success" id="styleNavbarBtn" type="button" data-toggle="collapse"
            data-target="#divBar" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="divBar">
            <ul class="navbar-nav mr-auto" id="ulForBar">
                <li class="nav-item">
                    <a class="nav-link" id="home" href="/">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" id="navs" href="/hero">Heroes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="navs" href="/villain">Villains</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown" id="dropMenu">
                        <a class="dropdown-item" id="drops" href="/profile">Profile</a>
                        <a class="dropdown-item" id="drops" href="/editprofile">Edit Profile</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" id="drops" href="/logout">Log Out</a>
                        {{!-- <a class="dropdown-item" id="drops" href="#">Contact-Us</a> --}}
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="navs" href="/clash">CLASH</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="navs" href="/add">Add Hero/Villain</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" id="smallNavs" href="/login">LOGIN</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="smallNavs" href="/signup">SIGN-UP</a>
                </li>
            </ul>
            <div id="styleNavbarForm"></div>
            <form class="form-inline my-2 my-lg-0" action="/api" method="GET">
                <input class="form-control mr-sm-2" id="styleNavSearchBar" type="search" id="name" name="name"
                    placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" id="styleNavSeachButtonHero"
                    type="submit">Search</button>
            </form>
        </div>
</div>
</nav>
<div class="container" id="indexOfAllHeroes">
    {{!-- <div class="container">
        {{!-- <h1>First Pag Add</h1>
        <div class="row">
            {{#each heroes}}
                {{#if approved}}
                    <a href="accordion.html?#{{this.name}}">{{this.name}}</a>
                {{/if}}
            {{/each}}
        </div>
    </div> --}}

        <div class="container">
            <p id="heroIndex">Hero's Index</p>
            <div class="row">
                <ul class="navbar-nav">
                    {{#each heroes}}
                    {{#if approved}}                    
                    <li class="nav-item">
                        <nav class="nav">
                            {{!-- <div id="heroStylingBoxes"> --}}
                                <a class="nav-link" id="/view/hero/{{this.name}}"></a>
                                <button class="list-group-item btn btn-outline-info" id="heroStylingBoxes" data-toggle="collapse" data-target="#item-1" data-parent="#accordion">
                                    <strong>{{this.name}}</strong>
                                </button>
                            {{!-- </div> --}}
                        </nav>
                    </li>
                    {{/if}}
                    {{/each}}                    
                </ul>
                <div id="item-1" class="collapse">
                    No. What is on second.
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            {{#each heroes}}
            {{#if approved}}
            <a href="/view/hero/{{this.name}}">{{this.name}}</a>
            {{/if}}
            {{/each}}
        </div>
    </div>
</div>
</div>
<script>
    //
    // accordionExpand.js
    //
    // Checks for hash in url and
    // expands an accordion list
    // =============================
    jQuery(document).ready(function ($) {

        var hash = window.location.hash, // Hash from the url
            accordionGroup = $('.panel.list-group'), // List groups
            accordionExists = accordionGroup.length;

        // If url fragment and accordion both exist...
        if (hash && accordionExists) {
            // Find the button sibling of the anchor and click it
            accordionGroup.find(hash).siblings('button.list-group-item').click();
        }
    });
</script>