<div class="SignupSuperSizer"></div>
<div class="container">
    <!-- Content here -->
    <nav class="navbar navbar-expand-lg navbar-light bg-dark fixed-top">
        <!-- <a class="navbar-brand" href="#">Navbar</a> -->
        <button class="navbar-toggler btn btn-outline-success" type="button" id="styleNavbarBtn" data-toggle="collapse" data-target="#divBar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="divBar">
            <ul class="navbar-nav mr-auto" id="ulForBar">
                <li class="nav-item active">
                    <a class="nav-link" id="home" href="/">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="navs" href="/hero">Heroes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="navs" href="/villain">Villains</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown" id="dropMenu">
                        <a class="dropdown-item" id="drops" href="/profile">Profile</a>
                        <a class="dropdown-item" id="drops" href="/editprofile">Edit Profile</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" id="drops" href="/logout">Log Out</a>
                        {{!-- <a class="dropdown-item" id="drops" href="#">Contact-Us</a> --}}
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="navs" href="/clash">CLASH</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="navs" href="/add">Add Hero/Villain</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" id="smallNavs" href="/login">LOGIN</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="smallNavs" href="/signup">SIGN-UP</a>
                </li>
            </ul>
            <div id="styleNavbarForm">
                 <form class="form-inline my-2 my-lg-0" action="/api" method="GET">
                <input class="form-control mr-sm-2" id="styleNavSearchBar" type="search" id="name" name="name" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" id="styleNavSeachButtonView" type="submit">Search</button>
            </form>
            </div>
        </div>
    </nav>
    <br />
    <!-- INTRO AND SLIDESHOW OF COMICBOOK COVERS -->
    <div class="jumbotron topPageJumbo">
        <img class="mySlides2" src="/images/heroPics/batgirl.jpg">
        <img class="mySlides2" src="/images/heroPics/captCover.png">
        <img class="mySlides2" src="/images/heroPics/greenLanterArrow.jpg">
        <img class="mySlides2" src="/images/heroPics/SILVERSURVER_THOR-COVER.jpg">
        <img class="mySlides2" src="/images/heroPics/cyborgCover.jpg">
        <img class="mySlides2" src="/images/heroPics/hellboyPic.jpg">
        <img class="mySlides2" src="/images/heroPics/deathstroke.jpg">
        <img class="mySlides2" src="/images/heroPics/fantastic_four_cover.jpg">
        <img class="mySlides2" src="/images/heroPics/Superman-vs-Lex-Luthor.jpg">
        <img class="mySlides2" src="/images/heroPics/drStrangeCover2.jpg">
        <img class="mySlides2" src="/images/heroPics/The_Flash.jpg">
        <img class="mySlides2" src="/images/heroPics/teen_titans_cover.jpg">
        <img class="mySlides2" src="/images/heroPics/wonderWomenCover.jpg">
        <img class="mySlides2" src="/images/heroPics/punisherCover.jpg">
        <img class="mySlides2" src="/images/heroPics/swampThingCover.jpg">
    

        <h1 class="display-4" id="welcomeComicVerse">COMIC-VERSE</h1>
        <!-- <p class="lead"></p>
            <hr class="my-4"> -->


        <!-- INTRO OF THE HOME-PAGE -->

        <h3 id="welcomeComicVerse">Welcome the COMIC-VERSE!</h3>
        <h3>Find any Character with ease!</h3>
        <h4>-HEROES - INDEX OF HEROES</h4>
        <h4>-VILLIAN - INDEX OF VILLAINS</h4>
        <h4>-DROP-DOWN - VIEW YOUR PROFILE OR EDIT YOUR PROFILE</h4>
        <h4>-CLASH - COMING SOON</h4>
        <h4>-ADD - ADD A NEW HERO OR VILLAIN</h4>


        

        {{!-- this is the small icon in jumbotron in home page right under welcome text --}}
        
     </div>
    
    <!-- END OF JUMBOTRON -->
    <br />
    <hr>
    <br />

    <!-- THE COMIC TRIVIA SECTION -->
    <div class="container triviaDiv">
        <h1 class="w3-center" id="triviaHeading">Comic Trivia</h1>
        <div class="w3-content float-none">
            {{#each trivia}}
            <div class="mySlides w3-container w3-red">
                <h2>{{this.title}}</h2>
                <p>{{this.fact}}</p>
            </div>
            {{/each}}        
        </div>
    </div>
    <!-- END OF TRIVIA SECTION -->
    <br />
    <hr>
    <br />

    <!-- HERO AND VILLAIN OF THE DAY SECTION -->
    <div class="container">
        <div class="row">
            <div class="col" id="heroAndVillainDiv">
                <p style="text-align: center; font-size: 70px">FEATURED HERO & VILLAIN</p>
            </div>
        </div>
        <div class="container" id="bothCardsHV">
            <div class="row d-flex flex-wrap justify-content-between">
                <div class="col-md-5">
                    <div class="card">
                        <img class="card-img-top" id="randoms" src="{{randHero.image}}" alt="">
                        <div class="card-body">
                            <h2>{{randHero.name}}</h2>
                            <p class="card-text">{{randHero.currentHistory}}</p>
                            <a href="/view/hero/{{randHero.name}}">Go to Bio</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="card">
                        <img class="card-img-top" id="randoms" src="{{randVillain.image}}" alt="">
                        <div class="card-body">
                            <h2>{{randVillain.name}}</h2>
                            <p class="card-text">{{randVillain.currentHistory}}</p>
                            <a href="/view/villain/{{randVillain.name}}">Go to Bio</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero of the day
        Villian of the day -->
</div>

<script type="text/javascript" src="/js/carousel.js"></script>
