<div class="SignupSuperSizer"></div>
<div class="container">
    <!-- Content here -->
    <nav class="navbar navbar-expand-lg navbar-light bg-dark fixed-top">
        <!-- <a class="navbar-brand" href="#">Navbar</a> -->
<<<<<<< HEAD
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#divBar"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
=======
        <button class="navbar-toggler btn btn-outline-success" id="styleNavbarBtn" type="button" data-toggle="collapse" data-target="#divBar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
>>>>>>> 230b03b51c623332e1598bae3c82842d82ff1d61
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="divBar">
            <ul class="navbar-nav mr-auto" id="ulForBar">
                <li class="nav-item active">
                    <a class="nav-link" id="home" href="/">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="navs" href="/hero">Heroes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="navs" href="/villain">Villains</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown" id="dropMenu">
                        <a class="dropdown-item" id="drops" href="/profile">Profile</a>
                        <a class="dropdown-item" id="drops" href="/editprofile">Edit Profile</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" id="drops" href="#">Log Out</a>
                        {{!-- <a class="dropdown-item" id="drops" href="#">Contact-Us</a> --}}
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="navs" href="/clash">CLASH</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="navs" href="/add">Add Hero/Villain</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" id="smallNavs" href="/login">LOGIN</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="smallNavs" href="/signup">SIGN-UP</a>
                </li>
            </ul>
            <div id="styleNavbarForm">
            <form class="form-inline my-2 my-lg-0" action="/api" method="GET">
<<<<<<< HEAD
                <input class="form-control mr-sm-2" type="search" id="name" name="name" placeholder="Search"
                    aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
=======
                <input class="form-control mr-sm-2" id="styleNavSearchBar" type="search" id="name" name="name" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" id="styleNavSeachButton" type="submit">Search</button>
>>>>>>> 230b03b51c623332e1598bae3c82842d82ff1d61
            </form>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="card">
            <div class="card-body">
                <h2>{{character.name}}</h2>
                <img src="{{character.image}}" name="characterImage" width="240" height="240" class="img-circle pb-2">
                {{#if character.secretIdentity}}
                <h3>Secret Identity</h3>
                <p>{{character.secretIdentity}}</p>
                {{/if}}
                {{#if character.earlyLife}}
                <h3>Early Life</h3>
                <p>{{character.earlyLife}}</p>
                {{/if}}
                {{#if character.currentHistory}}
                <h3>Current History</h3>
                <p>{{character.currentHistory}}</p>
                {{/if}}
                {{#if character.publisher}}
                <h3>Publisher</h3>
                <p>{{character.publisher}}</p>
                {{/if}}
                <h3>First Appearance</h3>
                <p>{{character.firstAppearance}}</p>

                {{#unless character.approved}}
                <form action="/api/approve/{{character.name}}?_method=PUT" method="POST">
                    <button type="submit" class="btn btn-danger"> {{character.name}}</button>
                </form>
                {{/unless}}
            </div>
        </div>
    </div>
</div>