<div class="SignupSuperSizer"></div>
<div class="container">
    <!-- Content here -->
    <nav class="navbar navbar-expand-lg navbar-light bg-dark fixed-top">
        <!-- <a class="navbar-brand" href="#">Navbar</a> -->
        <button class="navbar-toggler btn btn-outline-success" id="styleNavbarBtn" type="button" data-toggle="collapse" data-target="#divBar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="divBar">
            <ul class="navbar-nav mr-auto" id="ulForBar">
                <li class="nav-item active">
                    <a class="nav-link" id="home" href="/">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="navs" href="/hero">Heroes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="navs" href="/villain">Villains</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown" id="dropMenu">
                        <a class="dropdown-item" id="drops" href="/profile">Profile</a>
                        <a class="dropdown-item" id="drops" href="/editprofile">Edit Profile</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" id="drops" href="/logout">Log Out</a>
                        {{!-- <a class="dropdown-item" id="drops" href="#">Contact-Us</a> --}}
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="navs" href="/clash">CLASH</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="navs" href="/add">Add Hero/Villain</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" id="smallNavs" href="/login">LOGIN</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="smallNavs" href="/signup">SIGN-UP</a>
                </li>
            </ul>
            <div id="styleNavbarForm">
            <form class="form-inline my-2 my-lg-0" action="/api" method="GET">
                <input class="form-control mr-sm-2" id="styleNavSearchBar" type="search" id="name" name="name" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" id="styleNavSeachButtonView" type="submit">Search</button>
            </form>
            </div>
        </div>
    </nav>
    <div class="container" id="wholeViewPage">
        {{!-- <div id="backToHeroesIndex">
            <p><a id="backToHeroesIndex" href="/hero" style="float: right;">BACK TO THE HERO'S INDEX</a></p>
        </div> --}}
        <div class="card">
            <div class="card-body">
                {{!-- I tried everything to not make anything inline but it was literally impossible so for now 
                this is inline css but we can change it anytime we \/\/\/\/want(if we can fix the problem)
                UPDATE: OK SO CSS STYLES WORK ON STYLE.CSS NOT VILLAINS.CSS FOR THE FLOAT
                RIGHTS...IDK ITS BIZARE BUT ILL JUST USE THAT FOR NOW ITS BETTER THAN INLINE  --}}
                 <p><a id="backToHeroesIndex" class="mb-4" href="/hero">BACK TO THE HERO'S INDEX</a></p>
                 {{!-- <p style="float:right">OR</p> even that does work well only answer for now is a br --}}
                 <br/>
                 <p><a id="backToVillainsIndex" href="/villain">BACK TO THE VILLAINS'S INDEX</a></p>
                
                <p id="nameOfCharacter">{{character.name}}</p>
                {{#if character.image}}
                <img src="{{character.image}}" name="characterImage" class="img-circle pb-2 characterImage">
                {{/if}}
                {{#if character.secretIdentity}}
                <h3 id="firstAppearanceStyle">Secret Identity</h3>
                <p>{{character.secretIdentity}}</p>
                {{/if}}
                {{#if character.earlyLife}}
                <h3 id="firstAppearanceStyle">Early Life</h3>
                <p>{{character.earlyLife}}</p>
                {{/if}}
                {{#if character.currentHistory}}
                <h3 id="firstAppearanceStyle">Current History</h3>
                <p>{{character.currentHistory}}</p>
                {{/if}}
                {{#if character.publisher}}
                <h3 id="firstAppearanceStyle">Publisher</h3>
                <p>{{character.publisher}}</p>
                {{/if}}
                {{#if character.firstAppearance}}
                <h3 id="firstAppearanceStyle">First Appearance</h3>
                <p>{{character.firstAppearance}}</p>
                {{/if}}

                {{#unless character.approved}}
                <form action="/api/approve/{{character.name}}?_method=PUT" method="POST">
                    <button type="submit" class="btn btn-danger"> {{character.name}}</button>
                </form>
                {{/unless}}
            </div>
        </div>
    </div>
</div>